[submodule "modules/--branch"]
	path = modules/--branch
	url = https://github.com/n3tn0/opprimo.git
[submodule "modules/bury"]
	path = modules/bury
	url = https://github.com/n3tn0/opprimo.git
[submodule "d4d2cdd192ff692f93d7"]
	path = d4d2cdd192ff692f93d7
	url = https://gist.github.com/d4d2cdd192ff692f93d7.git
[submodule "imap_monitor"]
	path = imap_monitor
	url = https://gist.github.com/d4d2cdd192ff692f93d7.git
[submodule "procimap_py2.7"]
	path = procimap_py2.7
	url = https://github.com/n3tn0/procimap.git
	branch = python2.7
[submodule "bury"]
	path = modules/Opprimo
	url = https://github.com/n3tn0/Opprimo/
	branch = chariotmodule
